@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }



html {
    box-sizing: border-box;
  
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #cca8e9;
    color: white;
    font-family: monospace;
    font-size: medium;
    font-weight: bold;
    padding-bottom: 1px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
    padding-right: 40px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }  
  
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: linear-gradient(62deg, #defcf9 0%, #cca8e9 100%);
    background-image: linear-gradient(62deg, #defcf9 0%, #cca8e9 100%);
}

  .welcome-section > h1 {
    font-family:monospace;
    font-size: 4rem;
    color: #6c5b7c;
  }
  
  .welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: #89739e;
  }
  
  .project-image{
    max-width: 400px;
    object-fit: cover;
  }

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: linear-gradient(62deg, #defcf9 0%, #cca8e9 100%);
    background-image: linear-gradient(62deg, #defcf9 0%, #cca8e9 100%);
}

.project-title {
    font-family:monospace;
    font-size: 1.5rem;
    text-align: center;
  }
  
  #welcome > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
  }

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: linear-gradient(62deg, #defcf9 0%, #cca8e9 100%);
    background-image: linear-gradient(62deg, #defcf9 0%, #c3bef0 100%);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    font-weight: bold;
  }

  .projects-h2 {
    font-family: monospace;
    font-weight: bolder;
    font-size: 3em;
    padding: 3em;
    color: #89739e;
  }

  .logo {
    max-width: 30em;
    margin-top: 1.5em;
  }

  .logo-bottom {
    max-width: 10em;
    margin-top: 1.5em;
  }

  #header-contact {
    font-family: monospace;
    font-size: 2.5em;
    color: #89739e;
  }
  .contact-links {
    font-size: 2em;
    font-family: monospace;
    color: #6c5b7c;
  }

  a:link {
    color: hsl(271, 17%, 46%);
  }

  a:hover {
    color: #cca8e9;
  }